---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores((area(80202,25)))?apiKey=6tmxnbn286qhnt4act7h3tt8&format=json&show=longName%2Ccity%2Cphone%2CstoreType%2Cdistance
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"from":1,"to":10,"currentPage":1,"total":16,"totalPages":2,"queryTime":"0.032","totalTime":"0.047","partial":false,"canonicalUrl":"/v1/stores((area(\"80202\",25)))?show=longName,city,phone,storeType,distance&format=json&apiKey=6tmxnbn286qhnt4act7h3tt8","stores":[{"longName":"BEST
        BUY MOBILE - CHERRY CREEK SHOPPING CENTER","city":"DENVER","phone":"303-270-9189","storeType":"Mobile
        SAS","distance":3.45},{"longName":"BEST BUY - BELMAR","city":"LAKEWOOD","phone":"303-742-8039","storeType":"Big
        Box","distance":5.31},{"longName":"BEST BUY - COLORADO BLVD","city":"DENVER","phone":"303-758-5805","storeType":"Big
        Box","distance":5.59},{"longName":"BEST BUY - DENVER WEST","city":"LAKEWOOD","phone":"303-273-5617","storeType":"Big
        Box","distance":8.39},{"longName":"BEST BUY - WESTMINSTER","city":"WESTMINSTER","phone":"303-426-4434","storeType":"Big
        Box","distance":8.52},{"longName":"BEST BUY - NORTHGLENN","city":"DENVER","phone":"303-252-8677","storeType":"Big
        Box","distance":9.14},{"longName":"BEST BUY MOBILE - TOWN CENTER AT AURORA","city":"AURORA","phone":"303-326-0848","storeType":"Mobile
        SAS","distance":9.73},{"longName":"BEST BUY - AURORA","city":"AURORA","phone":"303-338-5797","storeType":"Big
        Box","distance":9.79},{"longName":"BEST BUY - LITTLETON","city":"LAKEWOOD","phone":"303-932-7830","storeType":"Big
        Box","distance":10.44},{"longName":"BEST BUY - SOUTHGLENN","city":"CENTENNIAL","phone":"303-797-3246","storeType":"Big
        Box","distance":11.02}],"warnings":"Distances are in terms of miles (default)"}'
  recorded_at: Thu, 01 Jun 2017 17:19:19 GMT
recorded_with: VCR 3.0.3
